# This file specifies files that are *not* uploaded to Google Cloud Platform when deploying.
# For more information, see `gcloud topic gcloudignore`.
.gcloudignore
.git
.gitignore
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.env
.DS_Store
*.sh
*.tar.gz
*.whl
*.egg-info
*.db
instance/
tests/
venv/
.venv/
.env
.env.local
.env.*.local
